html {}

body {
  font-size: 14px;
}

.lp_body {
  width           : 100vw;
  height          : 100vh;
  background-color: #ccc;
}

.lp_body {
  width           : 100vw;
  height          : 100vh;
  background-color: #ccc;
}